/* You can add global styles to this file, and also import othr style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
body{
    // background-image: url("./assets/img/5328478.jpg");
    // background-size: 45vh
    background-color: #f8f8f8d4;
}
.table-container{
    background-color: #f1ede6;
    border-radius: 50px;
    box-shadow: rgba(78, 76, 76, 0.719) 3px 2px 3px 2px;
    height: 61vh;
}
.title{
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 5vh;
    color: #333333;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}
.bg-dark-blue{
    background-color: #31515c;
}
.font-family-Lobster {
    font-family: 'Lobster', cursive;
}
.dark-bage-color {
    color: #D4A373;
    text-shadow: 1px 1px 1px #5e3f20;
}
.font-family-Yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.display-none{
    display: none;
}
.display-block{
display: block;
}