<div class="container1">
    <carousel [slides]="settingsService.slides"></carousel>
 </div>


 <div class="container">
        <div class="cards">
                <a class="cardi" href="#">
                        <span class="card-header" style="background-image: url(http://www.localhost:5000/carousel_commercials/11.jpg);">
                                <span class="card-title">
                                        <h3>Our Food collection</h3>
                                </span>
                        </span>
                        <span class="card-summary">
                            On this website, you will find about {{productsService._amountOfProducts}} products, from a variety of categories.
                        </span>
                </a>

                <a class="cardi" href="#">
                        <span class="card-header" style="background-image: url(http://www.localhost:5000/carousel_commercials/12.jpg);">
                                <span class="card-title">
                                        <h3>People love ordering from us</h3>
                                </span>
                        </span>
                        <span class="card-summary">
                            We are only open for a month and we already have {{ordersService._amountOfOrders}} orders. {{ordersService._amountOfOrders}} satisfied customers
                        </span>
                </a>
                
                <a class="cardi" href="#">
                        <span class="card-header" style="background-image: url(http://www.localhost:5000/carousel_commercials/13.jpg)">
                                <span class="card-title">
                                        <h3>Our Prices</h3>
                                </span>
                        </span>
                        <span class="card-summary">
                            We have the best sales in the surrounding area , granted.
                        </span>
                </a>

                <a class="cardi" href="#">
                        <span class="card-header" style="background-image: url(http://www.localhost:5000/carousel_commercials/14.jpg);">
                                <span class="card-title">
                                        <h3>no more time wasted</h3>
                                </span>
                        </span>
                        <span class="card-summary">
                            You don't need to waste any of your time in the grocery store , your order will arrive in the next 24h.
                        </span>
                </a>
                
                <a class="cardi" href="#">
                        <span class="card-header" style="background-image: url(http://www.localhost:5000/carousel_commercials/15.jpg);">
                                <span class="card-title">
                                        <h3>Something for Everyone</h3>
                                </span>
                        </span>
                        <span class="card-summary">
                           We have all the variety you can think of, gluten-free, sugar-free, free of lactose, vegan, and more.
                        </span>
                </a>
                
                <a class="cardi" href="#">
                        <span class="card-header" style="background-image: url(http://www.localhost:5000/carousel_commercials/16.jpg);">
                                <span class="card-title">
                                        <h3>Freshest Selection</h3>
                                </span>
                        </span>
                        <span class="card-summary">
                            Our fruits and vegetables arriving from the local farms, fresh first thing in the morning
                        </span>
                </a>
        </div>
</div>