<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand m-2">Online shop</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="shoping-page/">shoping-page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="order-page/">order-page</a>
        </li>
      </ul>
    </div>
  </nav>