.nav-heder-container{
    height: 27vh;
    background-image: url("http://www.localhost:5000/white-concrete-wall.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff5e;
    background-blend-mode: lighten;
    }

    .logo-container{
        background-image: url("http://www.localhost:5000/carousel_commercials/logo.png");
        height: 26vh;
        width: 35vh;
        background-size: cover;
    }