
.regular_vacations_wrapper{
margin:6vh;
}
.about-img{
    border-radius: 50%;
}

.title-container{
    width: 17%;
    margin: auto;

}
.card-title{
font-size: 4vh;
color: #31515c;
}
.main-title{
    font-size: 5vh;
}