<div class="regular-container">
    <div class="regular_vacations_wrapper">
    <div class="header-vacations-reg-wrapper">
        <div class="row justify-content-center title-container">
        <h1 class="main-title font-family-Yanone dark-bage-color">Our Story</h1>
        </div>
        <div class="row justify-content-center margin-top-bottom-small">
        <p class="col-6 ">
            What started small, with a single discount store and the simple idea of selling more for less, has grown over the last 50 years into the largest retailer in the world. Each week, approximately 220 million customers and members visit approximately 10,500 stores and clubs under 48 banners in 24 countries and eCommerce websites. With fiscal year 2021 revenue of $559 billion, Peach Fresh employs over 2.3 million associates worldwide. Peach Fresh continues to be a leader in sustainability, corporate philanthropy and employment opportunity. It’s all part of our unwavering commitment to creating opportunities and bringing value to customers and communities around the world.
        </p>
        </div>
    </div>
    <div class="cards-reg-wrapper container">
        <div class="row justify-content-center margin-top-bottom">
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title font-family-Yanone">Our History</h5>
                    <p class="card-text">Since the first Peach Fresh store opened in 1962 in Rogers, Arkansas, we've been dedicated to making a difference in the lives of our customers. Our business is the result of Sam Walton's visionary leadership, along with generations of associates focused on helping customers and communities save money and live better. This rich heritage defines who we are and what we do today.</p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="http://www.localhost:5000/about us/1.png" class="card-img about-img" alt="..."/>
            </div>
        </div>
        <div class="row justify-content-center margin-top-bottom">
            <div class="col-md-5">
                <img src="http://www.localhost:5000/about us/2.png" class="card-img about-img" alt="..."/>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title font-family-Yanone">Global Responsibility</h5>
                    <p class="card-text">Provident cum ullam illum, perspiciatis quod, omnis dolore culpa accusantium sequi obcaecati recusandae reprehenderit exercitationem. Exercitationem, temporibus voluptate.Ullam illum, perspiciatis quod, omnis dolore culpa accusantium sequi obcaecati recusandae reprehenderit exercitationem. Exercitationem, temporibus voluptate</p>
                </div>
            </div>

        </div>
        <div class="row justify-content-center margin-top-bottom">
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title font-family-Yanone">Fresh Products</h5>
                    <p class="card-text">Uullam illum, perspiciatis quod, omnis dolore culpa accusantium sequi obcaecati recusandae reprehenderit exercitationem. Exercitationem, temporibus voluptate.Perspiciatis quod, omnis dolore culpa accusantium sequi obcaecati recusandae reprehenderit exercitationem. Exercitationem, temporibus voluptate.</p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="http://www.localhost:5000/about us/3.png" class="card-img about-img" alt="..."/>
            </div>
        </div>
        <div class="row justify-content-center margin-top-bottom">
            <div class="col-md-5">
                <img src="http://www.localhost:5000/about us/4.png" class="card-img about-img" alt="..."/>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title font-family-Yanone">Suppliers</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto asperiores officia accusamus non inventore eaque perspiciatis harum, eius repudiandae repellat quod, odio culpa aut voluptates praesentium dolor dolores illum quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam repellendus nihil delectus, sint maxime explicabo, accusamus sequi harum libero eveniet, consequatur sapiente? Ipsum sint ratione mollitia reprehenderit suscipit quod?</p>
                </div>
            </div>

        </div>
        <div class="row justify-content-center margin-top-bottom">
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title font-family-Yanone">Commitment to Integrity</h5>
                    <p class="card-text">Uullam illum, perspiciatis quod, omnis dolore culpa accusantium sequi obcaecati recusandae reprehenderit exercitationem. Exercitationem, temporibus voluptate.Perspiciatis quod, omnis dolore culpa accusantium sequi obcaecati recusandae reprehenderit exercitationem. Exercitationem, temporibus voluptate.</p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="http://www.localhost:5000/about us/5.png" class="card-img about-img" alt="..."/>
            </div>
        </div>
    </div>
    </div>
</div>